.entry {
    position: relative;
    display:flex;
    flex-flow:column;
    background-size:contain;
    background-repeat: repeat;
    background-position: center;
    background-color: lightblue;
    /* background-position: 0; */

    height:400px;
    width:300px;

    box-shadow: black 10px 10px 20px 1px;
}

@media screen and (max-width:450px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
    .entry{
        height:200px;
        width:90vw;
    }
}



.entry * {
    display:flex;
    font-family: Poppins, arial;
}
.entry.withimg {
    align-items: center;
}
.entry:not(.withimg) {
    justify-content: center;
}

.top{
    position:absolute;
    display: flex;
    top:0;
    left:0;
    right:0;
    padding:5px;

}
.withimg .top {
    background: linear-gradient(black,rgba(0, 0, 0, 0));
    color: white;
    height:50%;
}
:not(.withimg)>.top {
    justify-content: center;
    align-items: center;
    position: relative;
}
.info {
    flex-flow:column;
    font-size:20px;
} 
.nameandposter{
    gap:5px;
    flex-flow:row wrap;
    align-items: flex-end;
}
.info > * {
    margin-right:5px;
}
:not(.withimg)>*>.info {
    align-items: center;
}
:not(.withimg)>*>.info * {
    text-align: center;
    justify-content: center;
}
.partyname {
    font-size:25px;
    font-weight: bold;
}
.deets{
    flex-flow: row wrap;
    gap:5px;
}


.bottom{
    flex-flow:column;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
}
.buttonbar{
    flex-flow:row;
    align-self: flex-end;
    align-items: flex-end;
    gap:4px;
    padding:5px;
}
.button{
    background-color: rgba(255, 255, 255, 0.5);
    padding:5px;
    border: solid rgba(0, 0, 0, 0.322) 2px;
    border-radius:35px;
    --width:35px;
    width:var(--width);
    height:var(--width);

    align-items: center;
    justify-content: center;
pe
    cursor:pointer;
}
.button:hover{
    background:rgb(255, 255, 255);
    filter:invert()
}
.button.attend {
    --sizeIncrease:1.4;
    width: calc(var(--width) * var(--sizeIncrease));
    height: calc(var(--width) * var(--sizeIncrease));

}
.button img {
    /* width: */

}
.dislike img {
    rotate:180deg;
}