body * {
    display: flex;
}

.entry{
    height:450px;
    /* height:130px; */
    width:300px;
    display: flex;
    position: relative;

    background-image: url("image.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;

    box-shadow: 6px 5px 18px 10px rgba(0, 0, 0, 0.61);
}
.subemoji{
    padding:1px;
    padding-right:3px;
    filter:drop-shadow(0px 0px 3px black) brightness(10000%);
    font-size: 20px;
}
.emoji{
    display: flex;
    flex-flow: row;
    align-items: center;

}
.entry:hover:not(:has(.poster:hover)) .name {
    text-decoration: underline;
}
.poster:hover {
    text-decoration: underline;
}


.button {
    display: flex;
    border: solid rgb(255, 255, 255) 2px;
    background-color: rgba(255, 255, 255, 0.221);
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    min-width: 50px;
    min-height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    gap:3px;
    padding:3px;

    cursor: pointer;

    transition: 0.4s;
    transition-property: filter background;

}
.button img {
    height:27px;
    filter:invert();
}
.button:hover {
    filter: invert();
    border-color: black;
    background-color: black;
    /* backdrop-filter: invert(); */
}

.bottom{

    --float:6px;
    display: flex;
    flex-flow: row;
    gap:10px;
  
    padding:10px;

    position: absolute;
    bottom:var(--float);
    left:var(--float);
    right:var(--float);
    border-radius: 17px;
    align-items: center;
    justify-content: flex-start;


    height:40px;
    background-color: rgba(0, 0, 0, 0.595);


    /* background-image: linear-gradient(0deg,#00000000, #000000a5, #000000cd); */
}

.note{
    
    display: none;
    display: flex;
    flex-flow: column;

    position: absolute;
    top:0;
    padding:10px;
    left:0;
    right:0;
    align-items: flex-start;
    justify-content: flex-start;


    height:max(200px, 50%);
    background-image: linear-gradient(0deg,#00000000, #000000a5, #000000cd);
}
/* .user::before{
    content:'posted by ';
} */
.poster{
    display: flex;
    flex-flow: row;
    gap:4px;
    font-style: italic;
    background-color: rgb(255, 255, 255);
    height: min-content;
    padding-left:2px;
    padding-right:2px;
    font-size: 16px;
}
.poster{
    display: flex;
    flex-flow: row nowrap;
    gap:10px;
    align-items: center;
    /* text-decoration: underline; */
    /* margin:10px; */
    color:black;
    height:min-content;
    height:min-content;

    cursor: pointer;
}

.username img{
    height:20px;
    border-radius: 100%;
    outline: solid rgba(0, 255, 136, 0.7) 2.5px;
    outline-offset: 3px;
}

.partyname{
    font-size: 27px;
    font-weight: bold;
    font-family: 'Poppins';
    margin-bottom: -5px;
    cursor: pointer;

    /* text-decoration: underline; */
}

.deets{
    display: flex;
    flex-flow: row wrap;
    gap:10px;
    align-items: center;
    margin-top:10px;
    
}
.deets > * {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap:2px;
    height:12px;
}
.deets img{
    width:20px;
    height:20px;
    filter:invert();
}

